body{
    font-family: 'Macondo', cursive;
    font-family: 'Poppins', sans-serif;
}
.head-tag{
    font-size: 100px;
}
.specific-one{
    color: orange;
    font-size: 50px;
}
.left_side{
}
.right-side{}