body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    text-align: justify;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: White;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 20px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    border-radius: 15px;
    box-shadow: 15px 10px 40px gray ;
}
#full-stake-web-developer{
    border-left: 7px solid tomato;
}
#baby-Web-developer{
    border-left: 7px solid blue;
}

footer p{
    text-align: center;
}